.custom-container
  padding: 0 10px
  width: 100% !important
@media (min-width: 546px)
  .custom-container
    width: 546px !important
    margin: 0 auto



@import "../all/font"
@import "../all/color"
@import "../all/indexZ"
@import "single"



@import "mainImage.css"



.laptop-content
  position: absolute
  margin: 364px 0 0 0
  padding: 0 35px
  width: 100%



@import "link"
@import "aboutMe"
@import "music"
@import "book"