@import "mainImage.css";
.custom-container {
  padding: 0 10px;
  width: 100% !important;
}

@media (min-width: 546px) {
  .custom-container {
    width: 546px !important;
    margin: 0 auto;
  }
}
@font-face {
  font-family: yekan;
  src: url("../../font/B_Yekan/Yekan.ttf");
}
@font-face {
  font-family: comic;
  src: url("../../font/comic/Hey Comic.ttf");
}
body {
  font-family: yekan, sans-serif;
}

.comic-font {
  font-family: comic, sans-serif;
}

.index-0 {
  z-index: 0 !important;
}

.index-1 {
  z-index: 1 !important;
}

.index-2 {
  z-index: 2 !important;
}

.index-3 {
  z-index: 3 !important;
}

.index-4 {
  z-index: 4 !important;
}

.custom-margin-top {
  margin-top: 55px;
}

.laptop-content {
  position: absolute;
  margin: 364px 0 0 0;
  padding: 0 35px;
  width: 100%;
}

.laptop-link {
  position: absolute;
  height: 50px;
  width: 400px;
  top: 0;
  right: 50%;
  transform: translate(50%, -50%);
  background-color: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  backdrop-filter: blur(7px);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.laptop-link a {
  all: unset;
}
.laptop-link a img {
  height: 35px;
  cursor: pointer;
}

.laptop-about-me h3 {
  padding: 0;
  margin: 0;
}
.laptop-about-me img {
  height: 60px;
}
.laptop-about-me p {
  text-align: justify;
  margin-top: 20px;
}

.laptop-music {
  height: 330px;
  position: relative;
}
.laptop-music .live-listening-effect {
  animation: live infinite 5s linear;
}
@keyframes live {
  100% {
    transform: translate(0, -50%) rotate(360deg);
  }
}
.laptop-music .laptop-text-live {
  display: none;
  position: absolute;
  top: 5%;
  right: 16.5%;
  color: #00b218;
  text-shadow: 0 0 10px #32e01e, 0 0 20px #32e01e, 0 0 40px #32e01e;
  animation: make-live linear infinite 2s;
}
@keyframes make-live {
  50% {
    text-shadow: 0 0 2.5px #32e01e, 0 0 5px #32e01e, 0 0 10px #32e01e;
  }
}
.laptop-music .laptop-disk {
  height: 250px;
  width: 250px;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translate(0, -50%);
}
.laptop-music .laptop-disk .laptop-inner .laptop-disk {
  width: 100%;
  height: 100%;
  position: absolute;
}
.laptop-music .laptop-disk .laptop-inner .laptop-cover {
  width: 100px;
  height: 100px;
  position: absolute;
  top: 50%;
  right: 50%;
  border-radius: 50%;
  transform: translate(50%, -50%);
}
.laptop-music .laptop-list {
  height: 330px;
  width: 300px;
  position: absolute;
  top: 0;
  left: 0;
}

.laptop-book, .swiper-book {
  width: 100%;
  height: 317px;
  padding: 0;
}
.laptop-book .swiper-slide, .swiper-book .swiper-slide {
  height: 317px;
  width: auto;
}
.laptop-book .swiper-slide .book-container, .swiper-book .swiper-slide .book-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 317px;
}
.laptop-book .swiper-slide .book-container .book, .swiper-book .swiper-slide .book-container .book {
  width: 180px;
  height: 270px;
}
.laptop-book .swiper-slide .book-container .book img, .swiper-book .swiper-slide .book-container .book img {
  height: 100%;
  width: 100%;
}
.laptop-book .swiper-slide-active .book-container, .swiper-book .swiper-slide-active .book-container {
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 600px;
  height: 317px;
}
.laptop-book .swiper-slide-active .book-container:hover .book, .laptop-book .swiper-slide-active .book-container:focus .book, .swiper-book .swiper-slide-active .book-container:hover .book, .swiper-book .swiper-slide-active .book-container:focus .book {
  transform: rotateY(-30deg);
}
.laptop-book .swiper-slide-active .book-container:hover .book::before, .laptop-book .swiper-slide-active .book-container:focus .book::before, .swiper-book .swiper-slide-active .book-container:hover .book::before, .swiper-book .swiper-slide-active .book-container:focus .book::before {
  transform: translateX(173px) rotateY(90deg);
}
.laptop-book .swiper-slide-active .book-container .book, .swiper-book .swiper-slide-active .book-container .book {
  width: 180px;
  height: 270px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotateY(0deg);
  transition: 1s ease;
}
.laptop-book .swiper-slide-active .book-container .book::after, .swiper-book .swiper-slide-active .book-container .book::after {
  position: absolute;
  top: 0;
  left: 0;
  content: " ";
  width: 180px;
  height: 270px;
  transform: translateZ(-30px);
  background-color: #01060f;
  border-radius: 0 2px 2px 0;
  box-shadow: -10px 0 20px 0 #666;
}
.laptop-book .swiper-slide-active .book-container .book::before, .swiper-book .swiper-slide-active .book-container .book::before {
  position: absolute;
  content: " ";
  left: 0;
  top: 7px;
  width: 24px;
  height: 255px;
  transform: translateX(168px) rotateY(81deg);
  transition: 1s ease;
  background: linear-gradient(90deg, #fff 0%, #f9f9f9 5%, #fff 10%, #f9f9f9 15%, #fff 20%, #f9f9f9 25%, #fff 30%, #f9f9f9 35%, #fff 40%, #f9f9f9 45%, #fff 50%, #f9f9f9 55%, #fff 60%, #f9f9f9 65%, #fff 70%, #f9f9f9 75%, #fff 80%, #f9f9f9 85%, #fff 90%, #f9f9f9 95%, #fff 100%);
}
.laptop-book .swiper-slide-active .book-container .book > .laptop-book .swiper-slide-active .book-container .book:first-child, .laptop-book .swiper-slide-active .book-container .book > .swiper-book .swiper-slide-active .book-container .book:first-child, .swiper-book .swiper-slide-active .book-container .book > .laptop-book .swiper-slide-active .book-container .book:first-child, .swiper-book .swiper-slide-active .book-container .book > .swiper-book .swiper-slide-active .book-container .book:first-child {
  position: absolute;
  top: 0;
  left: 0;
  width: 180px;
  height: 270px;
  transform: translateZ(15px);
  background-color: #01060f;
  border-radius: 0 2px 2px 0;
  box-shadow: 10px 10px 20px 0 #666;
}
.laptop-book .swiper-slide-active .book-container .book img, .swiper-book .swiper-slide-active .book-container .book img {
  height: 100%;
  width: 100%;
  border-radius: 0 2px 2px 0;
}

.laptop-movie {
  box-shadow: 0 0 15px 5px #dddddd;
  margin-bottom: 50px;
}
.laptop-movie .table {
  border-radius: 15px !important;
}

/*# sourceMappingURL=main.css.map */
