<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>

        <meta charset="UTF-8">
        <title>امیرحسین بازیار</title>
        <link rel="stylesheet" href="../static/node_modules/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="../static/node_modules/swiper/swiper-bundle.min.css">

        <script src="../static/js/detectDevice.js"></script>
        <link rel="stylesheet" href="../static/css/sass/laptop/main.css">

    </head>
    <body>

        <div class="custom-container p-0">
            <div class="row m-0 p-0">
                <div class="col-12 m-0 p-0 position-relative">

                    <!-- main image start -->
                    <div class="m-0 p-0 index-0 laptop-main-image">
                        <img id="main_image" src="../static/image/mainImage.jpg" alt="">
                    </div>
                    <!-- main image end -->

                    <!-- content start -->
                    <div class="index-1 laptop-content bg-danger" style="height: 2000px;">

                        <!-- links start -->
                        <div class="laptop-link">
                            <img src="" alt="">
                            <img src="" alt="">
                            <img src="" alt="">
                            <img src="" alt="">
                            <img src="" alt="">
                        </div>
                        <!-- links end -->

                        <!-- about me start -->
                        <!-- about me end -->

                        <!-- music start -->
                        <!-- music end -->

                        <!-- book start -->
                        <!-- book end -->

                        <!-- movie start -->
                        <!-- movie end -->

                        <!-- work start -->
                        <!-- work end -->

                    </div>
                    <!-- content end -->

                </div>
            </div>
        </div>

        <script src="../static/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../static/node_modules/swiper/swiper-bundle.min.js"></script>

        <script src="../static/js/scrollOpacity.js"></script>

    </body>
</html>